.hidden {
	visibility: hidden;
	display: none;
	position: absolute;
}

.highlighted {
	background-color: #FC9;
}

.checkmark {
	background-image: url('/check.png');
	background-size: contain;
	display:inline-block;
	width:12px;
	height:12px;
}

.search-selector-resultsbox {
	background-color: white;
	color: black;
	position:relative;
	top:-2px;
	left:2px;
	border:1px solid gray;
	overflow-y:auto;
}

.search-selector-resultsbox-wrapper {
	position:absolute;
	width:175px;
}

.search-selector-searchbox {
	width:170px;
}

.search-selector-li {
	padding:0px 5px;
}