.search-selector-resultsbox {
	background-color: white;
	color: black;
	position:relative;
	top:-2px;
	left:2px;
	border:1px solid gray;
	overflow-y:auto;
}

.search-selector-resultsbox-wrapper {
	position:absolute;
	width:175px;
	z-index: 100001;
}

.search-selector-searchbox {
	width:170px;
}

.search-selector-li {
	padding:0px 5px;
}